<input type="text" [ngModel]="fName()" (ngModelChange)="changeFName($event)" />

<input type="text" [ngModel]="mName()" (ngModelChange)="changeMName($event)" />
<input type="text" [ngModel]="lName()" (ngModelChange)="changeLName($event)" />
<br>
fullName=> {{fullName()}}
<br>
{{courseName}}  <button (click)="changeCouse()">Change Course</button>
<table>
  <tr>
    <td>
      {{firstName()}}
    </td>
    <td>
      <input type="text" [value]="rollNo()" />
    </td>
    <td>
      <input type="text"  [ngModel]="rollNo()" />
    </td>
    <td>
      <button (click)="changeName()">Change Name</button>
    </td>
    
     
  </tr>
</table>